# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local
.env
.env.local

# Java / Backend
target/
*.class
*.jar
*.war

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
